
@import "../../../utilities/Variables.scss";

.resto-details-con{
}

.resto-prof-con{
    height: 320px;
    flex:1;
    background-size: cover;
    background-position: center;
    box-sizing: border-box;
}
.resto-tile-con{
    padding:15px;

    .resto-title{
        font-size: 1.9em;
        color:$dark-color;
        font-weight: 500;
    }
    .resto-cuisine{
        font-size: 1.1em;
        margin-top:5px;
        color: #525252;
        font-weight: 500;
    }
    .resto-cost{
        font-size: 0.9em;
        margin-top:15px;
    }
    .resto-contact{
        font-size: 1em;
        margin-top:15px;
    }
}

