@import "../../../utilities/Variables.scss";


.user-review-con{
    padding: 0px 20px;
    @include mobile{
        padding:0px;
    }

    .title{
        font-size: 1.1em;
        color: #353535;
        @include mobile{
            margin-left:10px;
        }
    }

    .user-review-block-con{
        border:1px solid #ddd;
        padding:10px;
        margin-bottom: 10px;
        border-radius: 10px 0;
        @include mobile{
            border-radius: 0px;
            border-left: 0;
            border-right: 0;
        }

        .user-info{
            display: flex;

            .prof-pic{
                height:55px;
                width:55px;

                img{
                    border-radius: 50%;
                }
            }

            .user-name{
                flex:1;
                font-size: 0.9em;
                padding: 5px;

                .foodie-title{
                    padding: 2px;
                    width: 100px;
                    font-size: 0.7em;
                    font-weight: 500;
                    text-align: center;
                    border-radius: 10px;
                    margin-top:2px;
                    color: #fff;
                }
            }

            .rating{
                width:120px;

                .rating-text{
                    font-size: 1.1em;
                    margin-left: 5px;
                    font-weight: 500;

                    small{
                        color:#7b7b7b;
                    }
                }
            }
        }

        .review-info{
            padding: 5px;
            .rating-text{
                font-size: 1.1em;
                font-weight: 400;
            }

            .review-text{
                color:#4c4c4c;
                margin-top: 5px;
                font-size: 0.9em;
            }

            .review-time{
                text-align: right;
                font-weight: 500;
                color:#4c4c4c;
                margin-top: 5px;
                font-size: 0.7em;
            }
        }
    }
}