@import "../../../utilities/Variables.scss";

.autosearch-con{
    display: flex;
    justify-content: center;

    .autosearch-con-in{
        max-width:500px;
        flex:1;
        position: relative;
    }
}

.search-field{
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 1.2em;
    width: 100%;
}

.drop-down-con{
    position: absolute;
    box-shadow:1px 1px 3px 2px #ddd;
    top: 45px;
    padding: 5px 15px;
    width: 100%;
    box-sizing: border-box;
    background: #fff;

    ul{
        margin:0;
        padding:0;
        list-style-type: none;

        li{
            a{
                padding: 5px 0px;
                display: block;
                border-bottom: 1px solid #ececec;
                cursor: pointer;
                transition: all 0.2s;
            }
            a:hover{
                color: $dark-color;
                text-decoration: underline;
            }
        }
      }
}