@import "./utilities/Variables.scss";

ul{
    margin:0;
    padding:0;
}
div{
    box-sizing: border-box;
}
.app-header{
    background: $dark-color;
    height:$header-height;
    display: flex;
    justify-content: center;

    .app-header-in{
        flex:1;
        max-width: $max-width;
       @include tab{
            padding:0px 5px;
        }
    }
    .app-title{
        margin: 0;
        color: #fff;
        font-size: 2em;
        text-decoration: none;
    }
}



.app-main{
    display: flex;
    justify-content: center;
    background: $light-color;
    min-height: $main-height;

    .app-main-in{
        flex:1;
        max-width: $max-width;
        background: #fff;
    }
}

.breadcrum{
    padding: 10px;
    margin: 0px 0px;

    button{
        background: #fff;
        border:0;
        font-size: 1em;
        font-weight: 500;
        cursor: pointer;
        text-decoration: underline;
    }
    .selected{
        color:$dark-color;
        font-size: 1em;
        font-weight: 500;
        margin-left:10px;
    }
}