@import "./utilities/Variables.scss";

ul{
    margin:0;
    padding:0;
}
div{
    box-sizing: border-box;
}
.app-header{
    background: $dark-color;
    height:$header-height;
    display: flex;
    justify-content: center;

    .app-header-in{
        flex:1;
        max-width: $max-width;
    }
    .app-title{
        margin:0;
        color: #fff;
    }
}



.app-main{
    display: flex;
    justify-content: center;
    background: $light-color;
    min-height: $main-height;

    .app-main-in{
        flex:1;
        max-width: $max-width;
        background: #fff;
    }
}